/* Petits ajustements qui ne sont pas sur le Css de la page formulaire :*/

body, html{
    background-color: #23272A;
}

#URform { /*On baisse la distance verticale*/
   
    grid-gap: 0.8em 10%; /*Distance verticale puis horizontale entre les éléments*/
    padding: 1.2em;
    width: 55%; /*Taille horizontale du formulaire*/

    margin-left: 22%; /*Distance du formulaire par rapport au bords de la fenêtre*/
}

form{ /*Pour espacer les boutons d'inscription*/
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
}
#firstButton{
    margin-left:8%;
}




/*Pour le responsive et affichage mobile :*/
@-ms-viewport {
    width: device-width ;
}


@media screen and (min-width:1221px) and (max-width:1331px){
        
    form{ /*Pour espacer les boutons d'inscription*/
        margin-left: 3%;
        margin-right: 3%;
    }
    #firstButton{
        margin-left:6%;
    }
}

@media screen and (min-width:1050px) and (max-width:1221px){
        
    form{ /*Pour espacer les boutons d'inscription*/
        margin-left: 1%;
        margin-right: 1%;
    }

    #firstButton{
        margin-left:1%;
    }
}


@media screen and (max-width:1050px){
/* Pour les ecrans de moins de 1050 pixels de large */
    
    #URform { /*On supprime les espaces vides autour du formulaire */
        width: 95%; 
        font-size: 13px;
    
        border : 1px solid #000;
        box-shadow: 5px 8px 6px black;
        margin-left: 0;
        margin:0;
    }
}

@media screen and (max-width:810px){
        
        form { /*On baisse l'espacement autour des boutons d'inscriptions */
            margin-left: 2%;
            margin-right: 2%;
        }
    }